In [14]:
import pandas as pd
import numpy as np
import os
import math
from imblearn.ensemble import BalancedBaggingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score, roc_curve
from sklearn.model_selection import cross_val_score, RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
import seaborn as sns
import matplotlib.pyplot as plt
import pickle as pkl
%matplotlib inline

In [9]:
def fill_temp(df):
    pid = 1
    last_temp = 36.3
    for i in range(df.shape[0]):
        if df.iloc[i].patient_id == pid:
            if math.isnan(df.iloc[i].Temp):
                df.at[i, 'Temp'] = last_temp
            else:
                last_temp = df.iloc[i].Temp
            
        else:
            pid = df.iloc[i].patient_id
            last_temp = 37
            if math.isnan(df.iloc[i].Temp):
                df.at[i, 'Temp'] = last_temp
            else:
                last_temp = df.iloc[i].Temp
                
        # fill hr
        if math.isnan(df.iloc[i].HR):
            for j in range(i+1, df.shape[0]):
                if df.iloc[j].patient_id == df.iloc[i].patient_id:
                    if math.isnan(df.iloc[j].HR) == False:
                        df.at[i, 'HR'] = df.iloc[j].HR
                        break
                else:
                    df.at[i, 'HR'] = df.iloc[i-1].HR
                    break
                    
        # fill sbp
        if math.isnan(df.iloc[i].SBP):
            for j in range(i+1, df.shape[0]):
                if df.iloc[j].patient_id == df.iloc[i].patient_id:
                    if math.isnan(df.iloc[j].SBP) == False:
                        df.at[i, 'SBP'] = df.iloc[j].SBP
                        break
                else:
                    df.at[i, 'SBP'] = df.iloc[i-1].SBP
                    break
                    
        # fill Resp
        if math.isnan(df.iloc[i].Resp):
            for j in range(i+1, df.shape[0]):
                if df.iloc[j].patient_id == df.iloc[i].patient_id:
                    if math.isnan(df.iloc[j].Resp) == False:
                        df.at[i, 'Resp'] = df.iloc[j].Resp
                        break
                else:
                    df.at[i, 'Resp'] = df.iloc[i-1].Resp
                    break
        # fill O2Sat
        if math.isnan(df.iloc[i].O2Sat):
            for j in range(i+1, df.shape[0]):
                if df.iloc[j].patient_id == df.iloc[i].patient_id:
                    if math.isnan(df.iloc[j].O2Sat) == False:
                        df.at[i, 'O2Sat'] = df.iloc[j].O2Sat
                        break
                else:
                    df.at[i, 'O2Sat'] = df.iloc[i-1].O2Sat
                    break
                    
        # fill MAP
        if math.isnan(df.iloc[i].MAP):
            for j in range(i+1, df.shape[0]):
                if df.iloc[j].patient_id == df.iloc[i].patient_id:
                    if math.isnan(df.iloc[j].MAP) == False:
                        df.at[i, 'MAP'] = df.iloc[j].MAP
                        break
                else:
                    df.at[i, 'MAP'] = df.iloc[i-1].MAP
                    break
                    
    return df.fillna(-999)

In [33]:
train_df = pd.read_csv('../dataset/train_cleaned.csv', sep='|')
val_df = pd.read_csv('../dataset/val_cleaned.csv', sep='|')

In [10]:
train_df.head()

,patient_id,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,HCO3,...,Magnesium,Potassium,Hct,Hgb,WBC,Age,Gender,HospAdmTime,ICULOS,SepsisLabel
0,1,87.0,98.0,36.30,94.5,71.5,-999.0,21.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,84.31,1.0,-0.03,1.0,0.0
1,1,87.0,98.0,36.30,94.5,71.5,-999.0,21.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,84.31,1.0,-0.03,2.0,0.0
2,1,85.0,97.0,36.30,89.0,62.0,-999.0,22.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,84.31,1.0,-0.03,3.0,0.0
3,1,83.0,97.0,36.28,104.0,66.0,-999.0,22.0,-999.0,30.0,...,2.1,4.0,32.6,10.7,9.5,84.31,1.0,-0.03,4.0,0.0
4,1,81.0,98.0,36.28,87.0,67.0,-999.0,18.0,-999.0,-999.0,...,-999.0,-999.0,-999.0,-999.0,-999.0,84.31,1.0,-0.03,5.0,0.0

### deal with imbalanced data

In [40]:
train_df_pos = train_df[train_df.SepsisLabel == 1]
train_df_neg = train_df[train_df.SepsisLabel == 0]

In [41]:
train_df_neg.shape[0] - train_df_pos.shape[0]

0

In [36]:
samp = train_df_pos.sample(526865, replace=True)

In [37]:
train_df = pd.concat([train_df, samp])

In [38]:
train_df

,Unnamed: 0,patient_id,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,...,Hgb,WBC,Age,Gender,HospAdmTime,ICULOS,SepsisLabel,age_label,hr_label,temp_label
0,0,1,87.0,98.0,36.30,94.5,71.5,-999.0,21.0,-999.0,...,-999.0,-999.0,84.31,1.0,-0.03,1.0,0.0,1.0,1.0,2.0
1,1,1,87.0,98.0,36.30,94.5,71.5,-999.0,21.0,-999.0,...,-999.0,-999.0,84.31,1.0,-0.03,2.0,0.0,1.0,1.0,2.0
2,2,1,85.0,97.0,36.30,89.0,62.0,-999.0,22.0,-999.0,...,-999.0,-999.0,84.31,1.0,-0.03,3.0,0.0,1.0,1.0,2.0
3,3,1,83.0,97.0,36.28,104.0,66.0,-999.0,22.0,-999.0,...,10.7,9.5,84.31,1.0,-0.03,4.0,0.0,1.0,1.0,2.0
4,4,1,81.0,98.0,36.28,87.0,67.0,-999.0,18.0,-999.0,...,-999.0,-999.0,84.31,1.0,-0.03,5.0,0.0,1.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186709,186709,4811,93.0,96.0,37.06,104.0,73.0,59.0,25.0,-999.0,...,-999.0,-999.0,52.21,1.0,-0.03,97.0,1.0,4.0,2.0,2.0
29339,29339,764,89.0,99.0,37.28,111.0,83.0,-999.0,28.0,-999.0,...,-999.0,-999.0,66.22,1.0,-0.02,54.0,1.0,4.0,1.0,2.0
352810,352810,9144,80.0,93.0,36.72,108.0,94.0,-999.0,18.0,-999.0,...,-999.0,-999.0,52.69,1.0,-0.02,79.0,1.0,4.0,1.0,2.0
385681,385681,9982,95.0,100.0,37.72,134.0,74.0,52.0,9.0,-999.0,...,-999.0,-999.0,78.41,1.0,-19.38,46.0,1.0,4.0,2.0,2.0
45668,45668,1193,117.0,94.0,38.94,116.0,64.0,-999.0,29.0,-999.0,...,-999.0,-999.0,68.53,1.0,-0.02,22.0,1.0,4.0,2.0,1.0

In [ ]:
X_train = train_df.drop(columns=['patient_id', 'SepsisLabel'])
y_train = train_df.SepsisLabel
X_val = val_df.drop(columns=['patient_id', 'SepsisLabel'])
y_val = val_df.SepsisLabel

clf = RandomForestClassifier(n_estimators = 100, class_weight={0:1, 1:5})
clf.fit(X_train, y_train)

# get f1 score
y_pred = clf.predict(X_val)
f1_score(y_val, y_pred)

In [31]:
cv = RepeatedStratifiedKFold(n_splits=5, n_repeats=3)
scores = cross_val_score(clf, X_val, y_val, scoring='roc_auc',\
                        cv=cv, n_jobs=-1)
print('ROC AUC: %.3f' % np.mean(scores))

ROC AUC: 0.970