In [85]:
import pandas as pd

In [86]:
train_df = pd.read_csv('../dataset/train_cleaned.csv', sep='|')
val_df = pd.read_csv('../dataset/val_cleaned.csv', sep='|')

### HR

In [87]:
def get_hr_label(df):
    df.loc[df.HR > 90, 'hr_label'] = 2
    df.loc[df.HR <= 90, 'hr_label'] = 1
    
    return df

In [88]:
train_df = get_hr_label(train_df)
val_df = get_hr_label(val_df)

### Age

In [89]:
def get_age_label(df):
    df.loc[df.Age >= 80, 'age_label'] = 1 # old
    df.loc[df.Age <= 5, 'age_label'] = 2 #infant
    df.loc[(df.Age > 5) & (df.Age < 18), 'age_label'] = 3 # underaged
    df.loc[(df.Age >= 18) & (df.Age < 80), 'age_label'] = 4 # adult
    
    return df

In [90]:
train_df = get_age_label(train_df)
val_df = get_age_label(val_df)

### Temp

In [91]:
def get_temp_label(df):
    df.loc[df.Temp >= 38, 'temp_label'] = 1
    df.loc[(df.Temp < 38) & (df.Temp > 36), 'temp_label'] = 2
    df.loc[df.Temp <= 36, 'temp_label'] = 3
    
    return df

In [92]:
train_df = get_temp_label(train_df)
val_df = get_temp_label(val_df)

### Resp

In [93]:
def get_resp_label(df):
    df.loc[df.Resp > 20, 'resp_label'] = 1
    df.loc[df.Resp <= 20, 'resp_label'] = 2
    
    return df

In [94]:
train_df = get_resp_label(train_df)
val_df = get_resp_label(val_df)

### PaCO2

In [97]:
def get_paco2_label(df):
    df.loc[df.PaCO2 < 32, 'paco2_label'] = 1
    df.loc[df.PaCO2 >= 32, 'paco2_label'] = 2
    
    return df

In [98]:
train_df = get_paco2_label(train_df)
val_df = get_paco2_label(val_df)

### SBP

In [95]:
def get_sbp_label(df):
    df.loc[df.SBP <= 100, 'sbp_label'] = 1
    df.loc[df.SBP > 100, 'sbp_label'] = 2
    
    return df

In [96]:
train_df = get_sbp_label(train_df)
val_df = get_sbp_label(val_df)

In [99]:
train_df.head()

,patient_id,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,BaseExcess,HCO3,...,Gender,HospAdmTime,ICULOS,SepsisLabel,age_label,hr_label,temp_label,resp_label,paco2_label,sbp_label
0,1,87.0,98.0,36.30,94.5,71.5,-999.0,21.0,-999.0,-999.0,...,1.0,-0.03,1.0,0.0,1.0,1.0,2.0,1.0,1.0,1.0
1,1,87.0,98.0,36.30,94.5,71.5,-999.0,21.0,-999.0,-999.0,...,1.0,-0.03,2.0,0.0,1.0,1.0,2.0,1.0,1.0,1.0
2,1,85.0,97.0,36.30,89.0,62.0,-999.0,22.0,-999.0,-999.0,...,1.0,-0.03,3.0,0.0,1.0,1.0,2.0,1.0,1.0,1.0
3,1,83.0,97.0,36.28,104.0,66.0,-999.0,22.0,-999.0,30.0,...,1.0,-0.03,4.0,0.0,1.0,1.0,2.0,1.0,1.0,2.0
4,1,81.0,98.0,36.28,87.0,67.0,-999.0,18.0,-999.0,-999.0,...,1.0,-0.03,5.0,0.0,1.0,1.0,2.0,2.0,1.0,1.0

In [100]:
train_df.to_csv('../dataset/train_cleaned.csv', sep='|', index=False)
val_df.to_csv('../dataset/val_cleaned.csv', sep='|', index=False)